In [2]:
# HIDDEN
# Altera caminho para manter padrão com Jupyter Book
%cd chapters/05/03/

/home/danielavancini/Projects/eng-analytics/chapters/05/03

# 5.3 Funções Agregadas 

As funções agregadas são essenciais para o analista de dados. Elas permitem reduzir ou agregar uma série de campos para um único valor ou alguns poucos valores. Embora seu funcionamento seja muito simples quando analisadas individualmente, sua combinação com os demais comandos do SQL permite realizar consultas extremamente poderosas em grandes volumes de dados. Para utilizar uma função aplicamos ela no atributo que queremos como input e damos um nome para o output utilizando o alias AS:

```sql
SELECT FUNÇÃO(nome_do_campo) AS nome_output
FROM tabela
```
Por exemplo, se quiséssemos somar as vendas da Northwind de todos os pedidos através da consulta abaixo, obteríamos que a Northwind vendeu uma quantidade total de 51317 unidades:

In [3]:
# HIDDEN
# Vamos utilizar a extensão ipython-sql junto com o pacote SQLAlchemy para rodar consultas SQL diretamente
from sqlalchemy import create_engine
path_data = '../../assets/data/'
%load_ext sql
%config SqlMagic.displaycon=False
%config SqlMagic.feedback=False

# Agora dizemos para a extensão do ipython-sql onde estão os dados
%sql sqlite:///../../../assets/data/northwind.sqlite

In [5]:
%%sql

SELECT SUM(Quantity) AS qtd_vendida FROM 'OrderDetail'

[(51317,)]

Outra consulta muito comum é a de contagem (`count`), por exemplo, para saber quantos pedidos foram realizados faríamos:

In [6]:
%%sql
SELECT COUNT(Id) as pedidos FROM 'Order'

[(830,)]

Em alguns casos, o que importa não é uma simples contagem mas os valores únicos da tabela. Por exemplo, se quiséssemos saber de quantos países nossos clientes vem através de uma contagem da coluna `country` chegaríamos a um valor de 91 países quando na verdade são apenas 21 únicos:

In [7]:
%%sql

SELECT COUNT(Country) AS paises, COUNT(DISTINCT(Country)) AS paises_unicos
FROM 'Customer';

[(91, 21)]

As principais funções agregadas em SQL são:

| Função          | Descrição                         | Exemplo Sintaxe                                   |
|-----------------|-----------------------------------|---------------------------------------------------|
| SUM             | Soma os valores da coluna         | SELECT MAX(UnitPrice) FROM Products               |
| COUNT           | Conta os valores da coluna        | SELECT COUNT(Id) FROM Products                    |
| COUNT(DISTINCT) | Conta os valores únicos da coluna | SELECT COUNT(DISTINCT(ProductName)) FROM Products |
| AVG             | Calcula a média                   | SELECT AVG(UnitPrice) FROM Products               |
| MAX             | Calcula o valor máximo            | SELECT MAX(UnitPrice) FROM Products               |
| MIN             | Calcula o valor mínimo            | SELECT MIN(UnitPrice) FROM Products               |